doctype html

head
  title Stash reset password pug
  link(rel="stylesheet" type="text/css" href="style.css")

body
  h2="Reset your password"
  p(class="error")=message
  - if (message !== 'Check your inbox')
    div(class="account")="Enter your email and we'll send you a link to reset your password."
      form(method="post" id="resetpasswordform")
        input(type="text" placeholder="Enter your email" name="email" value=email)
        input(type="submit" name="submit")
  div(class="stashhome")
    a(href="/login")="Stash"